@font-face {
	font-family: 'ionicons';
	src:url('../fonts/ionic/ionicons.woff')
}
@font-face {
	font-family: 'ProximaNova';
	font-weight: bold;
	src:url('../fonts/Mark Simonson-ProximaNovaAltBold-webfont.woff')
}
@font-face {
	font-family: 'ProximaNova';
	font-weight: thin;
	src:url('../fonts/Mark Simonson-ProximaNovaThin-webfont.woff')
}
@font-face {
	font-family: 'ProximaNova';
	font-weight: black;
	src:url('../fonts/MarkSimonson-ProximaNovaAltBlack-webfont.woff')
}
@font-face {
	font-family: 'ProximaNova';
	font-weight: regular;
	src:url('../fonts/Mark Simonson-ProximaNovaAltRegular-webfont.woff')
}
.wp-header {
	min-height: 660px;
	max-width: 100%;
	background: linear-gradient(
		rgba(61, 117, 117, 0.7),
		rgba(61, 117, 117, 0.7)),
	url('../img/pexels-photo-440588.jpeg') 50% 50% no-repeat;
	background-size: cover;
	background-attachment: fixed;
	.wp-header__container {
		padding: 30px 0 0;
		min-height: 660px;
	}
	.wp-header__info {
		align-items: center;
		padding: 0 0 25px;
		border-bottom: 1px solid rgba(255, 255, 255, .2);
		.wp-header__logotel {
			display: flex;
			align-items: center;
		}
		.wp-header__logo {
			font-family: 'ProximaNova', 'Arial', sans-serif;
			font-weight: bold;
			font-size: 28.7px;
			text-transform: uppercase;
			color: #ffffff;
			padding-right: 25px;
			line-height: 1;
			border-right: 1px solid rgba(255, 255, 255, .2);
		}
		.wp-header__logo:hover {
			text-decoration: none;
		}
		.wp-header__tel {
			font-family: 'Montserrat', 'Arial', sans-serif;
			font-size: 13px;
			font-weight: 500;
			color: #ffffff;
			padding: 5px 0 5px 46px;
			position: relative;
		}
		.wp-header__tel::before {
			position: absolute;
			left: 30px;
			top: calc((100% - 15px) / 2);
			font-family: 'ionicons';
			content: "\f4b9";
			font-size: 15px;
			line-height: 1;
			color: #ffffff;
		}

		.wp-header__navigation {
			@media only screen and(max-width: 1024px) {
				display: flex;
				justify-content: flex-end;
				.dropdown-menu-icon {
					-webkit-transform: translate3d(-125px, 31px, 0px) !important;
					        transform: translate3d(-125px, 31px, 0px) !important;
					background-color: transparent;
					font-family: 'Montserrat', 'Arial', sans-serif;
					margin: 0;
					border: none;
					a {
						color: rgba(255, 255, 255, 1);
						text-transform: uppercase;
					}
					a:hover {
						background-color: rgba(255, 255, 255, 0.7);
					}
				}
				.dropdown-toggle::after {
					display: none;
				}
				.menu_icon {
					background: none;
					border: none;
					font-size: 30px;
				}
				.menu_icon {
					box-shadow: none;
				}
			}
			.wp-header__nav {
				list-style: none;
				padding: 0;
				display: flex;
				justify-content: space-around;
				margin: 0;
				li {
					display: block;
					padding: 10px 20px;
					border-radius: 2px;
				}
				li:hover {
					border-radius: 2px;
					background-color: rgba(255, 255, 255, 0.7);
				}
				li:hover>a {
					color: #ffffff;
					text-decoration: none;
					-webkit-transition: all .4s ease-in;
					   -moz-transition: all .4s ease-in;
					    -ms-transition: all .4s ease-in;
					     -o-transition: all .4s ease-in;
					        transition: all .4s ease-in;
				}
				a {
					text-transform: uppercase;
					font-family: 'Montserrat', 'Arial', sans-serif;
					font-size: 13px;
					line-height: 1.62;
					color: rgba(255, 255, 255, 0.7);
					font-weight: 500;
				}
				@media screen and(max-width: 1024px) {
					display: none;
				}
			}
			.wp-header__nav-menu {
				display: none;
				@media only screen and(max-width: 1024px) {
					display: block;
				}
				@media only screen and(max-width: 768px) {
					display: block;
				}
				@media only screen and (max-width: 576px) {
					display: none;
				}
			}
		}
	}
	.wp-header__title-container {
		height: calc(660px - 100px);
	.wp-header__title {
		font-family: 'Roboto', 'Arial', sans-serif;
		font-size: 38px;
		margin: 0;
		font-weight: 500;
		color: #ffffff;
	}
	.wp-header__text {
		margin: 5px 0 14px;
		font-family: 'Roboto', 'Arial', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		color: #ffffff;
	}
	.wp-header__link {
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		width: 30%;
		border-radius: 2px;
		background-color: #6fb048;
		font-family: 'Montserrat', 'Arial', sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 4;
		color: #ffffff;
		font-weight: 500;
		@media screen and(max-width: 576px) {
			width: 50%;
		}
	}
	.wp-header__link:hover {
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.7);
		-webkit-transition: all .4s ease-in;
		   -moz-transition: all .4s ease-in;
		    -ms-transition: all .4s ease-in;
		     -o-transition: all .4s ease-in;
		        transition: all .4s ease-in;
	}
}
}
.wp-bestof {
	font-family: 'Roboto', 'Arial', sans-serif;
	margin-bottom: 96px;
	.wp-bestof__title {
		padding: 96px 0 20px;
		margin: 0;
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		color: #0f5f5c;
		position: relative;
		h2 {
			margin: 0;
		}
	}
	.wp-bestof__title::after {
		position: absolute;
		display: block;
		content: '';
		bottom: 0;
		height: 1px;
		background-color: #6fb048;
		width: 15%;
		left: calc((100% - 15%) / 2);
	}
	.wp-bestof__text {
		text-align: center;
		margin: 20px 0 65px;
	}
	.wp-bestof__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		align-content: space-between;
		font-weight: 400;
		text-align: center;
		i {
			color: #6fb048;
			font-size: 50px;
			line-height: 1;
		}
		h3 {
			color: #0f5f5c;
			line-height: 1.25;
			font-size: 16px;
			margin: 26px 0 18px;
		}
		p {
			color: #83a7a5;
			line-height: 1.57;
			font-size: 14px;
			margin: 0 0 30px;
		}
	}
	.wp-bestof__item--secondary {
		margin-top: 50px;
		h3 {
			color: #0f5f5c;
			line-height: 1.25;
			font-size: 16px;
			margin: 0;
			padding: 29px 0 29px 57px;
			position: relative;
		}
		.item--secondary-one::before {
			position: absolute;
			left: 0;
			top: calc((100% - 30px) / 2);
			font-family: 'ionicons';
			content: "\f4d2";
			font-size: 30px;
			line-height: 1;
			color: #6fb048;
		}
		.item--secondary-two::before {
			position: absolute;
			left: 0;
			top: calc((100% - 30px) / 2);
			font-family: 'ionicons';
			content: "\f451";
			font-size: 30px;
			line-height: 1;
			color: #6fb048;
		}
		.item--secondary-three::before {
			position: absolute;
			left: 0;
			top: calc((100% - 30px) / 2);
			font-family: 'ionicons';
			content: "\f415";
			font-size: 30px;
			line-height: 1;
			color: #6fb048;
		}
		.item--secondary-four::before {
			position: absolute;
			left: 0;
			top: calc((100% - 30px) / 2);
			font-family: 'ionicons';
			content: "\f407";
			font-size: 30px;
			line-height: 1;
			color: #6fb048;
		}
		p {
			color: #83a7a5;
			line-height: 1.57;
			font-size: 14px;
			margin: 0;
		}
	}
}
.wp-section {
	background-color: #eef1ec;
	font-family: 'Roboto', 'Arial', sans-serif;
	.wp-section__container {
		padding-top: 75px;
		h2 {
			margin: 0;
			text-align: center;
			font-size: 32px;
			font-weight: 300;
			color: #0f5f5c;
			padding-bottom: 20px;
		}
		h2::after {
			position: absolute;
			display: block;
			content: '';
			bottom: 0;
			height: 1px;
			background-color: #6fb048;
			width: 15%;
			left: calc((100% - 15%) / 2);
		}
		p {
			text-align: center;
			margin: 20px 0 20px;
			color: #83a7a5;
			font-size: 16px;
		}
		.img-none {
			@media screen and(max-width: 767px) {
				display: none;
			}
		}
		.wp-section__text {
			h2 {
				text-align: left;
				padding: 3em 0 .5em;
				@media screen and(max-width: 1024px) {
					padding: .5em 0 .5em;
				}
			}
			h2::after {
				display: none;
			}
			p {
				line-height: 1.57;
				text-align: justify;
			}
			ul {
				padding: 0;
				list-style: none;
			}
			li {
				font-family: 'Roboto', 'Arial', sans-serif;
				font-size: 14px;
				line-height: 2.14;
				text-align: left;
				color:  #83a7a5;
				position: relative;
				padding: 10px 0 10px 34px;
			}
			li::before {
				position: absolute;
				left: 0;
				top: calc((100% - 26px) / 2);
				font-family: 'ionicons';
				content: "\f3fe";
				font-size: 26px;
				line-height: 1;
				color: #83a7a5;
			}
		}
	}
}
.wp-slider {
	padding: 145px 0;
	.wp-slider__text {
		margin: auto 0;
	}
	.wp-slider__image {
		img {
			@media only screen and(max-width: 992px) {
				width: 300px;
				height: 300px;
			}
		}
		@media only screen and(max-width: 1024px) {
			display: flex;
			justify-content: center;
		}
	}
	.wp-slider__text {
		p:first-child {
			font-family: 'Merriweather', 'Arial', serif;
			font-size: 22px;
			font-weight: 300;
			line-height: 1.82;
			color: #83a7a5;
			text-align: justify;
			margin-bottom: 1em;
			@media only screen and(max-width: 768px) {
				padding: 0 10px;
			}
		}
		p {
			font-family: 'Roboto', 'Arial', sans-serif;
			font-size: 14px;
			line-height: 1.57;
			color: #83a7a5;
			margin: 0;
			@media only screen and(max-width: 768px) {
				padding: 0 10px;
			}
		}
		.wp-slider__text-name {
			font-weight: 500;
			color: #6fb048;
			font-size: 14px;
		}
	}
	.carousel-control-prev {
		left: -15%;
		i {
			font-size: 30px;
			color: black;
		}
		@media only screen and(max-width: 1024px) {
			left: 0;
			opacity: 0;
			width: 30%;
		}
	}
	.carousel-control-next {
		right: -15%;
		i {
			font-size: 30px;
			color: black;
		}
		@media only screen and(max-width: 1024px) {
			right: 0;
			opacity: 0;
			width: 30%;
		}
	}
	.carousel-indicators {
		align-items: center;
		bottom: -80px;
		height: 120px;
		margin-bottom: 0;
		display: none;
		@media only screen and(max-width: 1024px) {
			display: flex;
		}
	}
	.carousel-indicators li {
		cursor: pointer;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #6fb048;
		border: 2px solid #6fb048;
	}
	.carousel-indicators .active {
		width: 15px;
		height: 15px;
		background-color: #ffffff;
	}
}
.wp-section__two {
	background: #eef1ec url('../img/world.png') no-repeat;
	background-position: right center;
	position: relative;
	font-family: 'Roboto', 'Arial', sans-serif;
	.wp-section__two--text {
		height: 100%;
		margin: auto 0;

		h2 {
			padding-top: 5em;
			font-size: 32px;
			font-weight: 300;
			text-align: left;
			color: #0f5f5c;
		}
		p {
			font-size: 14px;
			line-height: 1.71;
			color: #83a7a5;
			text-align: justify;
			padding-bottom: 10em;
		}
	}
}
.wp-pricing {
	padding: 95px 20px 100px;
	font-family: 'Roboto', 'Arial', sans-serif;
	h2 {
		margin: 0;
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		color: #0f5f5c;
		padding-bottom: 20px;
	}
	h2::after {
		position: absolute;
		display: block;
		content: '';
		bottom: 0;
		height: 1px;
		background-color: #6fb048;
		width: 15%;
		left: calc((100% - 15%) / 2);
	}
	p {
		text-align: center;
		margin: 20px 0 20px;
		color: #83a7a5;
		font-size: 16px;
	}
	.wp-pricing--item__block {
		display: flex;
		justify-content: center;
		padding: 40px 0 80px;
		@media only screen and(max-width: 768px) {
			flex-wrap: wrap;
		}
		.wp-pricing--item {
			width: 33%;
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			flex-direction: column;
			border: solid 1px #c1d3d2;
			@media only screen and(max-width: 768px) {
				width: 55%;
			}
			@media only screen and(max-width: 576px) {
				width: 90%;
			}
			h3 {
				text-transform: uppercase;
				font-family: 'Roboto', 'Arial', sans-serif;
				font-size: 15px;
				font-weight: 500;
				line-height: 1.33;
				color: #6fb048;
				padding-top: 1em;
				margin: 0;
			}
			h2 {
				font-size: 65px;
				margin: 0;
				color: #0f5f5c;
				line-height: 1;
				padding-top: .5em;
				padding-bottom: 0;
				font-weight: 600;
				font-family: 'Montserrat', 'Arial', sans-serif;
			}
			h2::after {
				display: none;
			}
			p {
				font-family: 'Roboto', 'Arial', sans-serif;
				font-size: 14px;
				color: #0f5f5c;
				margin: 0;
				font-weight: 700;
			}
			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
				flex-direction: column;
				list-style: none;
				padding: 20px 0 0;
			}
			li {
				font-family: 'Roboto', 'Arial', sans-serif;
				font-size: 14px;
				line-height: 2;
				color: #83a7a5;
			}
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
				width: 50%;
				border-radius: 2px;
				background-color: #83a7a5;
				text-transform: uppercase;
				font-family: 'Montserrat', 'Arial', sans-serif;
				color: #ffffff;
				line-height: 3;
				font-size: 13px;
				margin: 10px 0 30px;
				text-align: center;
			}
			a:hover {
				text-decoration: none;
				background-color: #6fb048;
				-webkit-transition: all .4s ease-in;
				   -moz-transition: all .4s ease-in;
				    -ms-transition: all .4s ease-in;
				     -o-transition: all .4s ease-in;
				        transition: all .4s ease-in;
			}
		}
	}
	.wp-pricing__list {
		padding: 40px 0 60px;
		@media only screen and(max-width: 768px) {
			padding: 40px 20px 0;
		}
		ul {
			padding: 0;
			list-style: none;
		}
		li {
			font-family: 'Roboto', 'Arial', sans-serif;
			font-size: 14px;
			line-height: 2.71;
			text-align: left;
			color:  #83a7a5;
			position: relative;
			padding: 0 0 0 34px;
			@media only screen and(max-width: 768px) {
				line-height: 1;
				padding: 10px 0 10px 34px;
			}
		}
		li::before {
			position: absolute;
			left: 0;
			top: calc((100% - 26px) / 2);
			font-family: 'ionicons';
			content: "\f3fe";
			font-size: 26px;
			line-height: 1;
			color: #83a7a5;
		}
	}
	.color {
		color: #6fb048;
		padding-top: 16px;
	}
	.wp-pricing--link {
		padding: 1em 0 0;
		font-family: 'Roboto', 'Arial', sans-serif;
		font-size: 18px;
		line-height: 1.11;
		text-align: center;
		color: #0f5f5c;
		font-weight: 500;
	}
	.wp-pricing--link:hover {
		text-decoration: none;
		color: #6fb048;
		-webkit-transition: all .4s ease-in;
		   -moz-transition: all .4s ease-in;
		    -ms-transition: all .4s ease-in;
		     -o-transition: all .4s ease-in;
		        transition: all .4s ease-in;
	}
}
.wp-download {
	max-width: 100%;
	background: linear-gradient(
		rgba(238, 241, 236, 0.9),
		rgba(238, 241, 236, 0.9)),
	url('../img/image.jpg') 50% 50% no-repeat;
	background-size: cover;
	font-family: 'Roboto', 'Arial', sans-serif;
	h2 {
		font-size: 28px;
		font-weight: 300;
		color: #0f5f5c;
		margin: 0;
		padding: 75px 0 0;
	}
	p {
		font-size: 15px;
		color: #83a7a5;
		line-height: 1.47;
		margin: 0;
		padding-bottom: 70px;
	}
	.wp-download__link {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		align-content: center;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			text-align: center;
			font-family: 'Montserrat', 'Arial', sans-serif;
			font-size: 13px;
			text-transform: uppercase;
			padding: 13px 20px;
			color: #ffffff;
			border-radius: 2px;
			background-color: #83a7a5;
			@media only screen and(max-width: 576px) {
				margin-bottom: 20px;
			}
		}
		a:hover {
			text-decoration: none;
			background-color: #6fb048;
			-webkit-transition: all .4s ease-in;
			   -moz-transition: all .4s ease-in;
			    -ms-transition: all .4s ease-in;
			     -o-transition: all .4s ease-in;
			        transition: all .4s ease-in;
		}
	}
}
.wp-footer-container {
	padding-top: 100px;
	h3 {

		font-size: 13px;
		font-weight: 500;
		line-height: 1.69;
		text-align: left;
		color: #0f5f5c;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	li>a {
		font-size: 13px;
		line-height: 2.15;
		color: #83a7a5;
	}
	p {
		font-family: 'Roboto', 'Arial', sans-serif;
		font-size: 13px;
		line-height: 1.5;
		color: #83a7a5;
	}
	.wp-footer--text {
		padding-bottom: 55px;
		.wp-footer-contact {
			h2 {
				text-transform: uppercase;
				font-family: 'ProximaNova', 'Arial', sans-serif;
				font-weight: bold;
				font-size: 22px;
				line-height: 1.59;
				color: #0f5f5c;
			}
			li {
				font-family: 'Roboto', 'Arial', sans-serif;
				font-size: 13px;
				line-height: 2.15;
				text-align: left;
				color: #83a7a5;
				padding-left: 15px;
				position: relative;
			}
			li:first-child {
				color: #0f5f5c;
			}
			li:first-child::before {
				content: "@: ";
				position: absolute;
				left: 0;
				font-family: 'Roboto', 'Arial', sans-serif;
				font-size: 13px;
				line-height: 2.15;
			}
			li:nth-child(even)::before {
				content: "p: ";
				left: 0;
				font-family: 'Roboto', 'Arial', sans-serif;
				font-size: 13px;
				line-height: 2.15;
				position: absolute;
			}
			li:last-child::before {
				content: "a: ";
				left: 0;
				font-family: 'Roboto', 'Arial', sans-serif;
				font-size: 13px;
				line-height: 2.15;
				position: absolute;
			}
		}
		.form-control {
			background-color: #eef1ec;
			font-size: 13px;
			font-family: 'Roboto', 'Arial', sans-serif;
			border: none;
			color: #83a7a5;
			line-height: 1.38;
		}
		.form-control:focus {
			box-shadow: 0 0 0 0.1rem rgba(111,176,72,.25)
		}
		.btn-secondary {
			color: rgba(111,176,72,1);
			background-color: #eef1ec;
			border: none;
		}
		.btn-secondary.focus, .btn-secondary:focus {
			box-shadow: 0 0 0 0.1rem rgba(111,176,72,.25)
		}
		.btn-secondary:not([disabled]):not(.disabled):active {
			color: #fff;
			background-color: #eef1ec;
			border: none;
			box-shadow: 0 0 0 0.1rem rgba(111,176,72,.25);
		}
		.input-group {
			padding-bottom: 20px;
		}
	}
	.wp-footer-bottom {
		border-top: 1px solid #eef1ec;
		.wp-footer-bottom--text {
			display: flex;
			align-items: center;
			align-content: center;
			padding: 1em 0;
			@media only screen and(max-width: 562px) {
				display: none;
			}
			p {
				margin: 0;
			}
		}
		.wp-footer-bottom--link {
			display: flex;
			justify-content: space-between;
			align-content: center;
			align-items: center;
			a {
				color: #ffffff;
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
				text-align: center;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				font-size: 16px;
				@media only screen and(max-width: 562px) {
					margin: 20px 0;
				}
			}
			a:first-child {
				background-color: #55acee;
			}
			a:nth-child(2) {
				background-color: #3b5998;
			}
			a:nth-child(3) {
				background-color: #3f729b;
			}
			a:nth-child(4) {
				background-color: #ea4c89;
			}
			a:nth-child(5) {
				background-color: #333333;
			}
			a:hover {
				-webkit-transform: scale(1.05);
				   -moz-transform: scale(1.05);
				    -ms-transform: scale(1.05);
				     -o-transform: scale(1.05);
				        transform: scale(1.05);
				text-decoration: none;
				-webkit-transition: all .2s ease-in;
				   -moz-transition: all .2s ease-in;
				    -ms-transition: all .2s ease-in;
				     -o-transition: all .2s ease-in;
				        transition: all .2s ease-in;
			}
		}
	}
}
